In [1]:
import MySQLdb
import pandas as pd
import numpy as np
import mysql.connector as conn
import csvkit
import pymongo

# Ques/Ans 1. Read this dataset in pandas , mysql and mongodb

In [2]:
# Reading the data in pandas

df = pd.read_csv('FitBitdata.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [3]:
#Reading the data in MySQL

!csvsql --db mysql://root:KuShi025@127.0.0.1:3306/task --insert FitBitdata.csv

C:\Users\Shivaay\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'fitbitdata' already exists")
[SQL:
CREATE TABLE `FitBitdata` (
	`Id` DECIMAL(38, 0) NOT NULL,
	`ActivityDate` DATE NOT NULL,
	`TotalSteps` DECIMAL(38, 0) NOT NULL,
	`TotalDistance` DECIMAL(38, 17) NOT NULL,
	`TrackerDistance` DECIMAL(38, 17) NOT NULL,
	`LoggedActivitiesDistance` DECIMAL(38, 15) NOT NULL,
	`VeryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`ModeratelyActiveDistance` DECIMAL(38, 16) NOT NULL,
	`LightActiveDistance` DECIMAL(38, 17) NOT NULL,
	`SedentaryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`VeryActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`FairlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`LightlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`SedentaryMinutes` DECIMAL(38, 0) NOT NULL,
	`Calories` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x1d1e6e82e80>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [4]:
!pip install "pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\shivaay\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\shivaay\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x1d1e6e82ac0>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\Shivaay\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [5]:
df.to_json("FitbitData.json")

In [6]:
st= r"‪‪C:\Users\Shivaay\FitbitData.json"
df1 = pd.read_json(st.strip("‪u202a"))
df1.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [7]:
#Mongo DB always takes the data in Json format

import json
client = pymongo.MongoClient("mongodb+srv://KUSHI045:KuShi025@shivam.ueoblcw.mongodb.net/?retryWrites=true&w=majority")
db = client.test

with open (st.strip("‪u202a")) as file:# st is a variable that holds the file address and .strip("‪u202a") is used to avoid the error
    data = [(json.load(file))]

db1 = client["My_info"] # ["My_info"] is the cluster/ database name
coll = db1["task"]#["task"] is the table name
coll.insert_many(data)

In [8]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [9]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

# 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format.

In [10]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.head()

# ALTER TABLE fitbitdata MODIFY ActivityDate date
# It is a MySQL command for modification

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

# 4 . Find out in this data that how many unique id's we have

In [74]:
len(df['Id'].unique())

35

# 5 . which id is one of the active id that you have in whole dataset

In [75]:
df.groupby('Id')["TotalSteps"].sum().sort_values(ascending = False).head()

# df.groupby('Id')["TotalSteps"].sum().head()

Id
1503960366    221170
8877689391    209005
4020332650    184851
6962181067    176956
8053475328    163288
Name: TotalSteps, dtype: int64

In [76]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,HealthyDay
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,0
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,1
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,0
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,0
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,1
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,1
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,1
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,1
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,0

# 6 . how many of them have not logged there activity find out in terms of number of ids

In [77]:
a = (df[df["LoggedActivitiesDistance"] != 0.0]['Id'].unique())
a

array([2891001357, 4057192912, 6391747486, 6962181067, 7007744171,
       8378563200], dtype=int64)

In [78]:
len(a)

6

# 7 . Find out who is the laziest person id that we have in dataset

In [79]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,HealthyDay
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,0
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,1
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,0
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,0
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,1
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,1
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,1
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,1
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,0

In [80]:
df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending= False).head()

Id
4057192912    43458
4020332650    34663
1624580081    24288
8253242879    16228
1503960366    15387
Name: SedentaryMinutes, dtype: int64

# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [113]:
def calorie_check(b):
    if b >= 1800:
        return 1
    else:
        return 0

In [114]:
df['HealthyDay'] = df['Calories'].apply(calorie_check)

In [115]:
df[['Id', 'HealthyDay']]

             Id  HealthyDay
0    1503960366           1
1    1503960366           1
2    1503960366           1
3    1503960366           1
4    1503960366           1
..          ...         ...
452  8877689391           1
453  8877689391           1
454  8877689391           1
455  8877689391           1
456  8877689391           0

[457 rows x 2 columns]

In [116]:
healthy_month = df.groupby('Id')[['HealthyDay', 'Calories']].sum()

In [117]:
healthy_month.sort_values(by = "Calories", ascending = False).head()

            HealthyDay  Calories
Id
4020332650          31     98412
4057192912          13     60913
4702921684          14     42322
8877689391          11     41414
8378563200          12     40274

In [118]:
healthy_month["LoggedDays"] = df.groupby("Id")['ActivityDate'].count().sort_values(ascending = False)

In [119]:
healthy_month['AvgCalories'] = healthy_month['Calories']/healthy_month['LoggedDays']

In [120]:
healthy_month["AvgHealthIndex"] = healthy_month['HealthyDay']/healthy_month['LoggedDays']

In [121]:
healthy_month.sort_values(by = ['AvgCalories', "HealthyDay"], ascending = False).head()

            HealthyDay  Calories  LoggedDays  AvgCalories  AvgHealthIndex
Id
8877689391          11     41414          12  3451.166667        0.916667
8378563200          12     40274          12  3356.166667        1.000000
5577150313          10     36303          11  3300.272727        0.909091
4020332650          31     98412          32  3075.375000        0.968750
1644430081           9     29164          10  2916.400000        0.900000

In [122]:
def Healthstatus(a,b):
    if a >= 1800 or b > 0.8:
        return 'Healthy'
    else:
        return 'Unhealthy'

In [123]:
healthy_month['HealthStatus']= healthy_month.apply(lambda healthy_month: Healthstatus(healthy_month['AvgCalories'],healthy_month['AvgHealthIndex']),axis= 1)
healthy_month

,HealthyDay,Calories,LoggedDays,AvgCalories,AvgHealthIndex,HealthStatus
Id,,,,,,
1503960366,16,34128,19,1796.210526,0.842105,Healthy
1624580081,0,25705,19,1352.894737,0.000000,Unhealthy
1644430081,9,29164,10,2916.400000,0.900000,Healthy
1844505072,7,19391,12,1615.916667,0.583333,Unhealthy
1927972279,11,27048,12,2254.000000,0.916667,Healthy
2022484408,11,29704,12,2475.333333,0.916667,Healthy
2026352035,0,16266,12,1355.500000,0.000000,Unhealthy
2320127002,2,18385,12,1532.083333,0.166667,Unhealthy
2347167796,14,30320,15,2021.333333,0.933333,Healthy
2873212765,7,20349,12,1695.750000,0.583333,Unhealthy
2891001357,7,18187,8,2273.375000,0.875000,Healthy
3372868164,8,18603,10,1860.300000,0.800000,Healthy
3977333714,0,16777,12,1398.083333,0.000000,Unhealthy
4020332650,31,98412,32,3075.375000,0.968750,Healthy
4057192912,13,60913,32,1903.531250,0.406250,Healthy
4319703577,11,23931,12,1994.250000,0.916667,Healthy
4388161847,7,14442,8,1805.250000,0.875000,Healthy
4445114986,14,31617,15,2107.800000,0.933333,Healthy
4558609924,9,21962,12,1830.166667,0.750000,Healthy
4702921684,14,42322,15,2821.466667,0.933333,Healthy
5553957443,7,21630,12,1802.500000,0.583333,Healthy
5577150313,10,36303,11,3300.272727,0.909091,Healthy
6117666160,8,20993,10,2099.300000,0.800000,Healthy
6290855005,9,21656,10,2165.600000,0.900000,Healthy
6391747486,8,15868,9,1763.111111,0.888889,Healthy
6775888955,8,24523,9,2724.777778,0.888889,Healthy
6962181067,13,29249,14,2089.214286,0.928571,Healthy
7007744171,11,31525,12,2627.083333,0.916667,Healthy
7086361926,8,26124,12,2177.000000,0.666667,Healthy
8053475328,10,31825,11,2893.181818,0.909091,Healthy
8253242879,2,17556,12,1463.000000,0.166667,Unhealthy
8378563200,12,40274,12,3356.166667,1.000000,Healthy
8583815059,8,19130,8,2391.250000,1.000000,Healthy
8792009665,10,24884,12,2073.666667,0.833333,Healthy
8877689391,11,41414,12,3451.166667,0.916667,Healthy

In [124]:
healty_count = healthy_month[healthy_month["HealthStatus"] == "Healthy"]

In [125]:
len(healty_count.index)

28

# 9. how many person are not a regular person with respect to activity try to find out those

In [126]:
def ActStatus(a):
    if a > 14:
        return "Regular"
    else:
        return "Unregular"

In [127]:
healthy_month['ActivityStatus'] = healthy_month["LoggedDays"].apply(ActStatus)

In [128]:
healthy_month

,HealthyDay,Calories,LoggedDays,AvgCalories,AvgHealthIndex,HealthStatus,ActivityStatus
Id,,,,,,,
1503960366,16,34128,19,1796.210526,0.842105,Healthy,Regular
1624580081,0,25705,19,1352.894737,0.000000,Unhealthy,Regular
1644430081,9,29164,10,2916.400000,0.900000,Healthy,Unregular
1844505072,7,19391,12,1615.916667,0.583333,Unhealthy,Unregular
1927972279,11,27048,12,2254.000000,0.916667,Healthy,Unregular
2022484408,11,29704,12,2475.333333,0.916667,Healthy,Unregular
2026352035,0,16266,12,1355.500000,0.000000,Unhealthy,Unregular
2320127002,2,18385,12,1532.083333,0.166667,Unhealthy,Unregular
2347167796,14,30320,15,2021.333333,0.933333,Healthy,Regular
2873212765,7,20349,12,1695.750000,0.583333,Unhealthy,Unregular
2891001357,7,18187,8,2273.375000,0.875000,Healthy,Unregular
3372868164,8,18603,10,1860.300000,0.800000,Healthy,Unregular
3977333714,0,16777,12,1398.083333,0.000000,Unhealthy,Unregular
4020332650,31,98412,32,3075.375000,0.968750,Healthy,Regular
4057192912,13,60913,32,1903.531250,0.406250,Healthy,Regular
4319703577,11,23931,12,1994.250000,0.916667,Healthy,Unregular
4388161847,7,14442,8,1805.250000,0.875000,Healthy,Unregular
4445114986,14,31617,15,2107.800000,0.933333,Healthy,Regular
4558609924,9,21962,12,1830.166667,0.750000,Healthy,Unregular
4702921684,14,42322,15,2821.466667,0.933333,Healthy,Regular
5553957443,7,21630,12,1802.500000,0.583333,Healthy,Unregular
5577150313,10,36303,11,3300.272727,0.909091,Healthy,Unregular
6117666160,8,20993,10,2099.300000,0.800000,Healthy,Unregular
6290855005,9,21656,10,2165.600000,0.900000,Healthy,Unregular
6391747486,8,15868,9,1763.111111,0.888889,Healthy,Unregular
6775888955,8,24523,9,2724.777778,0.888889,Healthy,Unregular
6962181067,13,29249,14,2089.214286,0.928571,Healthy,Unregular
7007744171,11,31525,12,2627.083333,0.916667,Healthy,Unregular
7086361926,8,26124,12,2177.000000,0.666667,Healthy,Unregular
8053475328,10,31825,11,2893.181818,0.909091,Healthy,Unregular
8253242879,2,17556,12,1463.000000,0.166667,Unhealthy,Unregular
8378563200,12,40274,12,3356.166667,1.000000,Healthy,Unregular
8583815059,8,19130,8,2391.250000,1.000000,Healthy,Unregular
8792009665,10,24884,12,2073.666667,0.833333,Healthy,Unregular
8877689391,11,41414,12,3451.166667,0.916667,Healthy,Unregular

In [129]:
Activity_count = healthy_month[healthy_month["ActivityStatus"] == "Regular"]

In [130]:
len(Activity_count)

7

In [131]:
healthy_month[healthy_month['ActivityStatus'] == 'Regular']

,HealthyDay,Calories,LoggedDays,AvgCalories,AvgHealthIndex,HealthStatus,ActivityStatus
Id,,,,,,,
1503960366,16,34128,19,1796.210526,0.842105,Healthy,Regular
1624580081,0,25705,19,1352.894737,0.000000,Unhealthy,Regular
2347167796,14,30320,15,2021.333333,0.933333,Healthy,Regular
4020332650,31,98412,32,3075.375000,0.968750,Healthy,Regular
4057192912,13,60913,32,1903.531250,0.406250,Healthy,Regular
4445114986,14,31617,15,2107.800000,0.933333,Healthy,Regular
4702921684,14,42322,15,2821.466667,0.933333,Healthy,Regular

# 10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [145]:
Third_Active = df.groupby("Id")["TotalSteps"].sum().sort_values(ascending = False).head(3)
Third_Active

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

# 11 . who is the 5th most laziest person avilable in dataset find it out

In [148]:
Fifth_Laziest = df.groupby("Id")["TotalSteps"].sum().sort_values(ascending = False).tail()
Fifth_Laziest

Id
8583815059    24364
6290855005    16181
6391747486    12032
2891001357     6189
4388161847        0
Name: TotalSteps, dtype: int64

# 12 . what is a totla acumulative calories burn for a person find out

In [153]:
df.groupby(['Id'])[['Calories']].sum().sort_values(by = 'Calories',ascending = False)

            Calories
Id
4020332650     98412
4057192912     60913
4702921684     42322
8877689391     41414
8378563200     40274
5577150313     36303
1503960366     34128
8053475328     31825
4445114986     31617
7007744171     31525
2347167796     30320
2022484408     29704
6962181067     29249
1644430081     29164
1927972279     27048
7086361926     26124
1624580081     25705
8792009665     24884
6775888955     24523
4319703577     23931
4558609924     21962
6290855005     21656
5553957443     21630
6117666160     20993
2873212765     20349
1844505072     19391
8583815059     19130
3372868164     18603
2320127002     18385
2891001357     18187
8253242879     17556
3977333714     16777
2026352035     16266
6391747486     15868
4388161847     14442